*{
    margin: 0; 
    padding: 0;
   }
   .text-block {
       background-color: rgb(255, 0, 0);
       color: aliceblue;
       display: block;
       width: 209px;
       height: 20px;
       overflow: hidden;
   }